<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

    <servlet>
        <servlet-name>UrlShortenServlet</servlet-name>
        <servlet-class>com.shortener.UrlShortenServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UrlShortenServlet</servlet-name>
        <url-pattern>/shorten</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UrlRedirectServlet</servlet-name>
        <servlet-class>com.shortener.UrlRedirectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UrlRedirectServlet</servlet-name>
        <url-pattern>/r/*</url-pattern>
    </servlet-mapping>

</web-app>
